*, *::before, *::after {
    box-sizing: border-box;
}

body, header, .name, h1, .sidebar, ul {
    margin: 0;
}

body, main {
    height: 100vh;
}

body {
    background: #1d1d1d;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
}

/*Header*/

header {
    border-radius: 10px;
}

.name {
    position: sticky;
    top: 0;
    width: 100%;
    background: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/*Sidebar*/

.sidebar {
    width: 200px;
    height: 100%;
}

ul {
    padding: 0;
}

.navigationItems {
    background: #000000;
    padding: 18px;
    text-align: center;
    border: 2px solid #000000;
    font-size: large;

    &:hover {    
    background: #1d1d1d;
    list-style-type: none;
    padding: 18px;
    text-align: center;
    border: 2px solid #000000;
    font-size: large;
    }
}

.contact {
    border: 2px solid #000000;
    height: 100vh;
    background: #000000;
}

.contactItems {
    background: #000000;
    list-style-type: circle;
    padding: 10px;
    text-align: left;
    border: none;  
}

.contactItems1 {
    background: #000000;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    border: none;  
    border-radius: 0 5px 0 0;
    font-size: large;
}

li > a {
    text-decoration: none;
    color: #ffffff;
}

/*Main Content*/

.mainContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 15px;
}

[class^="box"] {
    display: grid;
    background: #1d1d1d;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #111, -5px -5px 5px #222
}

.picture {
    height: 300px;
    border-radius: 100%;
}

.boxPfp {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
}

.boxProjects {
    display: grid;
    grid-column: span 2;
}

.boxProjects > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxAbout > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSkills > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxCompletion {
    display: flex;
    justify-content: center;
    align-items: center;
}