* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside footer";
    background: #333;
}

header {
    grid-area: header;
    background: #000;
    color: white;
    padding: 1em;
}

h1 {
    text-align: center;
}

/*sidebar*/

aside {
    grid-area: aside;
    color: white;
    background: #000;
}

.sidebar li {
    padding: 15px;
    text-align: center;

    &:hover {
        padding: 15px;
        text-align: center;
        background: #111;
    }
}

.contact li {
    padding: 5px 1em;
}

li a {
    color: white;
    text-decoration: none;
}

/*main*/ 

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    margin: 3vw;
}

/*profile pic card*/
.pfp {
    grid-area: 1 / 1 / 2 / 4;
    min-width: fit-content;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}

.pfpImage {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    border-radius: 5px;
}

/*projects card*/
.projects {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 4 / 2 / 13;
    background: #191919;
    color: white;
}

.cardTitle {
    padding: 15px;
}

.cardImages {
    display: flex;
    justify-content: space-evenly;
    padding: 10% 0;
}

.images {
    object-fit: cover;
    width: 30%;
    border-radius: 5px;
}

/*footer*/

footer {
    grid-area: footer;
    background-color: #000;
    color: white;
    text-align: center;
}