* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside footer";
}

header {
    grid-area: header;
    background: #000;
    color: white;
    padding: 1em;
}

h1 {
    text-align: center;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}