* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside footer";
    background: #191919;
    font-family: sans-serif;
}

header {
    grid-area: header;
    background: #000;
    color: white;
    padding: 1em;
}

h1 {
    text-align: center;
}

/*sidebar*/

aside {
    grid-area: aside;
    color: white;
    background: #000;
}

.sidebar li {
    padding: 15px;
    text-align: center;

    &:hover {
        padding: 15px;
        text-align: center;
        background: #111;
    }
}

.contact li {
    padding: 5px 1em;
}

li a {
    color: white;
    text-decoration: none;
}

/*main*/ 

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    color: white;
    margin: 3vw;
}

/*profile pic card*/
.pfp {
    background: #333;
    grid-area: 1 / 1 / 2 / 4;
    min-width: fit-content;
    align-content: center;
    padding: 20px;
    border-radius: 5px;
}

.pfpImage {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    border-radius: 5px;
}

/*projects card*/
.projects {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 4 / 2 / 13;
    background: #333;
    border-radius: 5px;
}

.cardTitle {
    padding: 15px;
}

.cardImages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111;
    padding: 10px;
    border-radius: 10px;
    margin: 0 5%;
    flex-wrap: wrap;
}

.images {
    object-fit: cover;
    height: 150px;
    width: 210px;
    border-radius: 5px;
}

/*About card*/

.about {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 5;
    background: #333;
    border-radius: 5px;
}

.about h2 {
    text-align: center;
    padding: 15px;
}

.about p {
    padding: 0 20px;
}

/*languages card*/

.languages {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 5 / 3 / 9;
    background: #333;
    padding: 0 30px;
    border-radius: 5px;
}

.languages h2 {
    text-align: center;
    padding: 15px;
}

/*completion card*/

.completion {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 9 / 3 / 13;
    background: #333;
    padding: 0 30px;
    border-radius: 5px;
}

.completion h2 {
    text-align: center;
    padding: 15px;
}

/*footer*/

footer {
    grid-area: footer;
    background-color: #000;
    color: white;
    text-align: center;
}